<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="main" >
        <div class="game">
            <div :class="{x: el == 1, 'o': el == -1}" class="random" v-for="(el, idx) in list0" @click="turn(idx, list0)"></div>
            <div :class="{x: el == 1, 'o': el == -1}" class="random" v-for="(el, idx) in list1" @click="turn(idx, list1)"></div>
            <div :class="{x: el == 1, 'o': el == -1}" class="random" v-for="(el, idx) in list2" @click="turn(idx, list2)"></div>
        </div>
        <button @click="reset" class="btn">reset</button>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
    
</body>
</html>
